body {
    background: linear-gradient(#041B2D,#0d0d0d);
    color: #e6e6e6;
}

html {
    scroll-behavior: smooth;
}

.topnav {
    display: flex;
    flex-direction: row;
    background: linear-gradient(#041B2D,#0d0d0d);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topnav img {
    height: 1em;
}

.topnav-links{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding-left: 5em;
}

.topnav-links a {
    padding: .5em;
    text-decoration: none;
    color: #e6e6e6;
    text-transform: uppercase;
}

.container {
    text-align: center;
    margin-top: 6em;
}

#img {
    height: 75px;
    width: 75px;
    float: left;
    margin-top: 1em;
    
}

#description-selector {
    padding: 1em;
}

#description {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#description a {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

#description p {
    text-align: left;
    padding: 0 0 0 .79em;
}

#works-selector{
    padding: 3em;
}

#price-box {
    display: flex;
    flex-direction: row;
    padding: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#price-box p {
    border: .2em solid #000000;
    width: 25%;
    padding: 1em;
    margin: .5em;
    overflow: hidden;
    transition: width 0.5s;
}

#price-box p:hover {
    overflow: visible;
    margin-right: 3em;
    width: 40%;
}

input[type=button] {
    font-weight: bold;
    font-size: 1em;
    border: none;
    margin: 10px 0px 0px 0px;
    background: #08395e;
    padding: .8em;
    color: #e6e6e6;
}


#privacy {
    margin: 3em 0 0 0;
    text-align: end;
    padding: 1em;
}

#privacy a {
    color: #e6e6e6;
    padding-left: 1em;
    text-decoration: none;
}

.heading {
    font-size: 2em;
}

.amt {
    font-size: 1.5em;
}

.par {
    font-size: 15px;
    margin-top: -1px;
}